repositories:
- name: cilium
  url:  https://helm.cilium.io

releases:
- name: cilium
  namespace: kube-system
  chart: cilium/cilium
  version: 1.14.4
  values:
  - ./cilium.yaml
  - fullnameOverride: cilium
